body {
  margin: 0;
  font-family: font-walter-turncoat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-main {
  background: #0a0a0a;
}

@font-face {
  font-family: font-walter-turncoat;
  src: url(../public/assets/fonts/WalterTurncoat.ttf);
}

